@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-primary-color {
        color: #fff;
    }
    .text-secondary-color {
        color: #a7a7a7;
    }
    .text-green-primary-color {
        color: #1DCF5D;
    }
    .text-green-secondary-color {
        color: #1FDC62;
    }

    .bg-primary-color {
        background-color:#121212;
    }
    .bg-secondary-color {
        background-color:#181818;
    }
    .bg-tertiary-color {
        background-color:#282828;
    }
    .bg-green-primary-color {
        background-color: #1DCF5D;
    }
    .bg-green-secondary-color {
        background-color: #1FDC62;
    }
}
